@media print {
    body {
        width: 210mm;
        height: 297mm;
    }
}

:root {
    --roxo-escuro: #4F1D58;
    --roxo-claro: #941CC3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Usa a cor do texto herdada do elemento pai */
}

body {
    font-family: Verdana;
    /*margin: 50px auto;  Remover para realizar impressão */
    width: 794px;
    height: 1123px;
    border: 1px solid #ccc;
    padding: 0 20px;
    text-align: justify;
}

p {
    font-size: 14px; /* Ajuste o tamanho conforme necessário */
}


h1 {
    font-size: 25px;
    color: var(--roxo-escuro);
}

h2 {
    font-size: 19px;
    color: var(--roxo-escuro);
    padding-top: 5px;
    padding-bottom: 4px;
}

h3 {
    font-size: 17px;
    font-weight: 80;
}

.titulo {
    padding-top: 15px;
    padding-bottom: 10px;
}

.rosa {
    font-size: 15px;
    color: var(--roxo-claro);
    font-weight: 600;
}

.informacoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.informacoes img {
    width: 100px;
    height: auto;
}

.informacoes__descricao {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formacao{
    padding-bottom: 8px;
}

.acad {
    display: flex;
}

.img-form{
    width: 70px;
}

.img-form img{
    width: 70px;
}

#logo-ficr img{
    width: 58px;
}

.cursos {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.habilidades {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 4 colunas iguais */
    gap: 10px 10px; /* Espaçamento entre os itens */
    text-align: left;
}

.habilidades p {
    margin: 0;
    font-size: 15px;
}


.idiomas {
    display: flex;
    gap: 20px;
}

.idioma_premio {
    display: flex;
    align-items: center;
    justify-content: space-between;
}